firmware/.pio
firmware/.pioenvs
firmware/.piolibdeps


firmware/.cache/
firmware/.clangd
firmware/compdb.py
firmware/compile_commands.json

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
hardware/*.000
hardware/*.bak
hardware/*.bck
hardware/*.kicad_pcb-bak
hardware/*.kicad_sch-bak
hardware/*-backups
hardware/*-cache*
hardware/*-bak
hardware/*-bak*
hardware/*~
hardware/~*
hardware/_autosave-*
\#auto_saved_files\#
hardware/*.tmp
hardware/*-save.pro
hardware/*-save.kicad_pcb
hardware/fp-info-cache
hardware/~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
hardware/*.net

# Autorouter files (exported from Pcbnew)
hardware/*.dsn
hardware/*.ses

# Exported BOM files
hardware/*.xml
hardware/*.csv

# Archived Backups (KiCad 6.0)
hardware/**/*-backups/*.zip

# Local project settings
hardware/*.kicad_prl